.container {
    max-width: 588px;
    padding: 20px 10px;
    margin: 0 auto;
    h1 {
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 700;
        color: var(--color-secondary);
        font-size: 32px;
        text-align: center;
        text-transform: lowercase;
      }
  }
  
